img {
  border-radius: 20px;
  float: left;
  width: 400px;
  height: 300px;
  padding: 15px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  background-color: #c9d1cc;
  width: 1300px;
  padding: 15px;
}

.text{
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.photoBox{
  position: relative;
}

.photoActions{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:none;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.photoBox:hover .photoActions{
    display:flex;
}